.panel-content {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  color: rgb(135, 138, 140);
  fill: rgb(135, 138, 140);
  cursor: pointer;
  overflow: hidden;

  border-color: rgb(204, 204, 204);
  border-image: initial;
}



.panel-content .itemContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-gap: 8px;
  position: relative;
  margin-bottom: 20px;

}

.panel-content .itemContent .itemTitle {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 2fr;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 5px;
}

.panel-content .itemContent .itemDesc {
  display: grid;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 26, 27);
  overflow: auto;
}

.panel-content .itemContent .itemDesc img {


  max-width: 100%;
}




