.panel {
  display: grid;
  grid-template-columns: minmax(min-content, 40px) minmax(100px, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  grid-template-areas: "vote content";
  max-width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  color: rgb(135, 138, 140);
  fill: rgb(135, 138, 140);
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  margin-bottom: 10px;
}

 .panel .itemVote {
  display: grid;
  grid-area: vote;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  background-color: rgb(248, 249, 250)
}

 .panel .itemVote .itemUpvoteContent {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: repeat(3, 1fr);
}

.panel .itemVote .itemUpvoteContent #upvote {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 2;
}

 .panel .itemVote .itemUpvoteContent .itemUpvoteNumber {
  justify-self: center;
  align-self: center;
  grid-row: 2 / 3;
}

.panel .itemVote .itemUpvoteContent #downvote {
  justify-self: center;
  align-self: center;
  grid-row: 3 / 4;
}

.panel .itemContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px min-content min-content 32px;
  grid-gap: 8px;
  position: relative;

}

.panel .itemContent .itemUser {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  /*rgb(120, 124, 126) */
  display: inline;
  line-height: 20px;
  margin-left: 8px;
}

.panel .itemContent .itemTitle {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 2fr;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 5px;
  margin-left: 8px;
}

 .panel .itemContent .itemDesc {
  display: grid;

  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 26, 27);
  overflow: auto;
  margin-left: 8px;
}

.panel .itemContent .itemDesc img {


  max-width: 100%;
}

#upvote {
  width: 0;
  height: 0;
  border-color: rgb(135, 138, 140);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(135, 138, 140);
}

a#upvote:hover {
  width: 0;
  height: 0;
  border-color: orangered;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid orangered;
}


a#downvote {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(135, 138, 140);
  margin-left: -1px;
}

a#downvote:hover {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0079D3;
  margin-left: -1px;
}

.panel .itemContent .itemAction {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 114px 66px 60px;
  ;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  grid-gap: 4px;
  fill: rgb(135, 138, 140);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.panel .itemContent .itemAction a {
  display: inline;
  justify-self: center;
  align-self: center;
  color: rgb(135, 138, 140);
  text-decoration: none;
  padding: 4px;
}

.panel .itemContent .itemAction a:hover {
  color: rgb(135, 138, 140);
  text-decoration: none;
  background-color: rgba(26, 26, 27, 0.1);
}


@media screen and (min-width: 400px) and (max-width: 767px) {

  .left_content {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 690px;

  }
}
