.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;

  max-width: 990px;
  margin: 0 auto;

}
.content .panel_text{
    display: grid;
    grid-row: 2 /3 ;
    grid-column: 1 / 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(26, 26, 27);
    text-transform: unset;
    margin-top: 20px;
    margin-bottom: 12px;
}
.content .trending {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1/2;
  grid-template-columns: repeat(4, 238px);
  grid-template-rows: auto 178px;
  height: auto;
  grid-gap: 12px;
}

.content .trending .trending_text {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(26, 26, 27);
    text-transform: unset;
    margin-top: 16px;
  }
  
  .content .trending .trending_item1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url('../../assets/images/item3.jpg' );
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    cursor: pointer;
  }
  
  .content .trending .trending_item2 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: url('../../assets/images/item4.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    cursor: pointer;
  }
  
  .content .trending .trending_item3 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-image: url('../../assets/images/item5.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    cursor: pointer;
  }
  .content .trending .trending_item_text{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 150px;
    padding-left: 10px;
    color: white;
    background-color: rgb(54, 69, 155);
    opacity: 0.5;
  }
  
  .content .trending .trending_item4 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    background-image: url('../../assets/images/item6.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    cursor: pointer;
  }
  

.content .left_content {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 690px;

}

.content .right_content {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1frs;
  max-width: 300px;
  margin-left: 30px;
  border-top: 8px solid rgb(0, 121, 211);


}

.content .right_content .itemTopic {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  height: 110px;
  /* background-image: url('../../assets/images/item.jpg'); */
  background-color: white
}
.content .right_content .itemTopic .listTopic {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(6, min-content);
  grid-auto-rows: min-content;
  max-width: 340px;
  grid-gap: 10px;
  align-self: center;
  justify-self: center;
}



.content .left_content .panel {
  display: grid;
  grid-template-columns: minmax(min-content, 40px) minmax(100px, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  grid-template-areas: "vote content";
  max-width: 690px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  color: rgb(135, 138, 140);
  fill: rgb(135, 138, 140);
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  margin-bottom: 10px;
}

.content .left_content .panel .itemVote {
  display: grid;
  grid-area: vote;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  background-color: rgb(248, 249, 250)
}

.content .left_content .panel .itemVote .itemUpvoteContent {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: repeat(3, 1fr);
}

.content .left_content .panel .itemVote .itemUpvoteContent #upvote {
  justify-self: center;
  align-self: center;
  grid-row: 1 / 2;
}

.content .left_content .panel .itemVote .itemUpvoteContent .itemUpvoteNumber {
  justify-self: center;
  align-self: center;
  grid-row: 2 / 3;
}

.content .left_content .panel .itemVote .itemUpvoteContent #downvote {
  justify-self: center;
  align-self: center;
  grid-row: 3 / 4;
}

.content .left_content .panel .itemContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px min-content min-content 32px;
  grid-gap: 8px;
  position: relative;

}

.content .left_content .panel .itemContent .itemUser {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  /*rgb(120, 124, 126) */
  display: inline;
  line-height: 20px;
  margin-left: 8px;
}

.content .left_content .panel .itemContent .itemTitle {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 2fr;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 5px;
  margin-left: 8px;
}

.content .left_content .panel .itemContent .itemDesc {
  display: grid;

  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 26, 27);
  overflow: auto;
  margin-left: 8px;
}

.content .left_content .panel .itemContent .itemDesc img {


  max-width: 100%;
}

#upvote {
  width: 0;
  height: 0;
  border-color: rgb(135, 138, 140);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(135, 138, 140);
}

a#upvote:hover {
  width: 0;
  height: 0;
  border-color: orangered;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid orangered;
}


a#downvote {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(135, 138, 140);
  margin-left: -1px;
}

a#downvote:hover {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0079D3;
  margin-left: -1px;
}

.content .panel .itemContent .itemAction {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 114px 66px 60px;
  ;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  grid-gap: 4px;
  fill: rgb(135, 138, 140);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.content .panel .itemContent .itemAction a {
  display: inline;
  justify-self: center;
  align-self: center;
  color: rgb(135, 138, 140);
  text-decoration: none;
  padding: 4px;
}

.content .panel .itemContent .itemAction a:hover {
  color: rgb(135, 138, 140);
  text-decoration: none;
  background-color: rgba(26, 26, 27, 0.1);
}


@media screen and (min-width: 400px) and (max-width: 767px) {
  .content .right_content {
    visibility: hidden;
  }

  .content .left_content {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 690px;

  }

  .content .trending {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 178px;
    height: auto;
    
  }
  
  .content .trending .trending_text {
      display: grid;
      grid-row: 1 / 2;
      grid-column: 1 / 5;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: rgb(26, 26, 27);
      text-transform: unset;
      margin-top: 16px;
      justify-self: center;
    }

  .content .trending .trending_item1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    justify-self: center;
    width: 238px;
    background-image: url('../../assets/images/item.jpg');
  }

  .content .trending .trending_item2 {
    display: grid;
    grid-column: 2 / 3;
    background-image: url('../../assets/images/item.jpg');
    visibility: hidden;
  }

  .content .trending .trending_item3 {
    display: grid;
    grid-column: 3 / 4;
    background-image: url('../../assets/images/item.jpg');
    visibility: hidden;
  }

  .content .trending .trending_item4 {
    display: grid;
    grid-column: 4 / 5;
    background-image: url('../../assets/images/item.jpg');
    visibility: hidden;
  }

}

